@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Estilo de una linea de tipografia al documento */

* {
    margin: 0;
    padding: 30;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Estilo de body*/

    /* Estilo al header para Forum y Data Query */

    .headerDQ {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        background: url('Imagenes/nature-red-photography-macro-insect-green-619452-wallhere.com.jpg') no-repeat;
        backdrop-filter: blur(30px);
    }


    .headerDQ .logo{
        color: #fff;
        font-size: 1.5em;
        user-select: none;
        text-decoration: none;
    }

    .headerDQ .logito{
        color: #fff;
        font-size: 1em;
        user-select: none;
        text-decoration: none;
    }

    .headerDQ .navigation .anav {
        color: #fff;
        font-size: 1em;
        position: relative;
        font-weight: 500;
        text-decoration: none;
        margin-left: 50px;
    }

    .headerDQ .navigation .anav::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: transparent;
        border-radius: 5px;
        transform: translateX(10px);
        transition: 0.5s;
    }

    .headerDQ .navigation .anav:hover::after {
        background: #fff;
        transform: translateX(0);
    }

    .headerDQ .navigation .btlogin{
        font-size: 1em;
        background: transparent;
        width: 130px;
        height: 50px;
        outline: none;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        margin-left: 50px;
        transition: 0.8s;
    }

    .headerDQ .navigation .btlogin:hover{
        background-color: #fff;
        color: #5c0404;
    }

    .headerDQ {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        background: url('Imagenes/nature-red-photography-macro-insect-green-619452-wallhere.com.jpg') no-repeat;
        backdrop-filter: blur(30px);
    }


    .headerDQ .logo{
        color: #fff;
        font-size: 1.5em;
        user-select: none;
        text-decoration: none;
    }

    .headerDQ .logito{
        color: #fff;
        font-size: 1em;
        user-select: none;
        text-decoration: none;
    }


    .headerDQ .navigation .anav {
        color: #fff;
        font-size: 1em;
        position: relative;
        font-weight: 500;
        text-decoration: none;
        margin-left: 50px;
    }

    .headerDQ .navigation .anav::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: transparent;
        border-radius: 5px;
        transform: translateX(10px);
        transition: 0.5s;
    }

    .headerDQ .navigation .anav:hover::after {
        background: #fff;
        transform: translateX(0);
    }

    .headerDQ .navigation .btlogin{
        font-size: 1em;
        background: transparent;
        width: 130px;
        height: 50px;
        outline: none;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        margin-left: 50px;
        transition: 0.8s;
    }


    .headerDQ .navigation .alog{
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        translate: 30px;
        /*Arreglar el tema del padding*/
    }

    .headerDQ .navigation .alog:hover{
        color: #5c0404;
    }

    .headerDQ .navigation .btlogin:hover{
        background-color: #fff;
    }

    /*Social Media Animation*/

    .socialMedia{
        margin: 0 auto 0 50px;
    }

    .socialMedia a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: transparent;
        border:2px solid #fff;
        border-radius: 6px;
        text-decoration: none;
        transition: .5s;
    }

    .socialMedia a:hover{
        background: #fff;
    }

    .socialMedia a i {
        font-size: 20px;
        color: #fff;
    }

    .socialMedia a:hover i{
        color: #250404;
    }

    /*Estilo del main*/

    .mainDQ{
        margin-top: 130px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    h2{
        text-align: center;
        font-size: 40px;
    }

    h3{
        margin: 5px;
    }

    .pI{
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .prf{
        text-align: justify;
        margin: 6px;
    }

    .buttons{
        position: relative;
        text-align: center;
    }

    /*Content GeneralASP*/

    .iconGA{
        position: absolute;
        font-size: 1.8em;
        line-height: 130px;
    }
    .input-boxGA{
        display: inline;
        align-items: center;
        margin: 10px;
    }

    .contentGA{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: block;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .contentGA.POP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: none;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    /*Content EcoPot*/

    .iconEP{
        position: absolute;
        font-size: 1.8em;
        line-height: 130px;
    }
    .input-boxEP{
        display: inline;
        align-items: center;
        margin: 10px;
    }

    .contentEP.POP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: block;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .contentEP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: none;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .charts-container {
        display: flex;
        margin-top: 20px;
        margin-right: 40px;
        gap: 20px;
        overflow-x: auto;
    }
    
    .charts-container canvas {
        max-width: 50%;
        max-height: 100%;
        padding: 20px;
    } 


    /**/

    .iconPP{
        position: absolute;
        font-size: 1.8em;
        line-height: 130px;
    }
    .input-boxPP{
        display: inline;
        align-items: center;
        margin: 10px;
    }

    .contentPP.POP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: block;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .contentPP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: none;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }
    /**/

    .iconU{
        position: absolute;
        font-size: 1.8em;
        line-height: 130px;
    }
    .input-boxU{
        display: inline;
        align-items: center;
        margin: 10px;
    }

    .contentU.POP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: block;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .contentU{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: none;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .iconC{
        position: absolute;
        font-size: 1.8em;
        line-height: 130px;
    }

    .input-boxC{
        display: inline;
        align-items: center;
        margin: 10px;
    }


    .contentC.POP{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: block;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .contentC{
        margin-left: 200px;
        margin-right: 300px;
        align-items: center;
        display: none;
        line-height: 40px;
        border: 1px solid #240202;
        border-radius: 6px;
        padding: 10px;
    }

    .texti{
        justify-content: center;
        display: flex;
        }
            .ids-text{
                text-align: center;
                max-width: 1200px;
            }

        /*Estilo de botones*/

        .btnDQ{
            position: relative;
            font-size: 1em;
            background: transparent;
            width: 150px;
            height: 40px;
            outline: none;
            color: #250000;
            border: 2px solid #240202;
            border-radius: 6px;
            cursor: pointer;
            font-weight: 600;
            transition: 0.4s;
            justify-content: center;
            margin-left: 15px;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        .btnDQ:hover{
            background-color: #220000;
            color: #ffffff;
        }

        /**/
            .collapsibleGA{
                margin: 40px;
                margin-left: 100px;
                position: relative;
                font-size: 1em;
                background: transparent;
                width: 250px;
                height: 40px;
                outline: none;
                color: #250000;
                border: 2px solid #240202;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                transition: 0.4s;
                justify-content: center;
            }

            .collapsibleGA:hover{
                background-color: #220000;
                color: #ffffff;
            }
        /**/
            .collapsibleEP{
                margin: 40px;
                margin-left: 100px;
                position: relative;
                font-size: 1em;
                background: transparent;
                width: 250px;
                height: 40px;
                outline: none;
                color: #250000;
                border: 2px solid #240202;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                transition: 0.4s;
                justify-content: center;
            }

            .collapsibleEP:hover{
                background-color: #220000;
                color: #ffffff;
            }
        /**/
            .collapsiblePP{
                margin: 40px;
                margin-left: 100px;
                position: relative;
                font-size: 1em;
                background: transparent;
                width: 250px;
                height: 40px;
                outline: none;
                color: #250000;
                border: 2px solid #240202;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                transition: 0.4s;
                justify-content: center;
            }

            .collapsiblePP:hover{
                background-color: #220000;
                color: #ffffff;
            }
        /**/
            .collapsibleU{
                margin: 40px;
                margin-left: 100px;
                position: relative;
                font-size: 1em;
                background: transparent;
                width: 250px;
                height: 40px;
                outline: none;
                color: #250000;
                border: 2px solid #240202;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                transition: 0.4s;
                justify-content: center;
            }

            .collapsibleU:hover{
                background-color: #220000;
                color: #ffffff;
            }

            /**/
            .collapsibleC{
                margin: 40px;
                margin-left: 100px;
                position: relative;
                font-size: 1em;
                background: transparent;
                width: 250px;
                height: 40px;
                outline: none;
                color: #250000;
                border: 2px solid #240202;
                border-radius: 6px;
                cursor: pointer;
                font-weight: 600;
                transition: 0.4s;
                justify-content: center;
            }

            .collapsibleC:hover{
                background-color: #220000;
                color: #ffffff;
            }

        /*Estilo de tablas*/

        .table-container {
            margin-top: 20px;
            overflow-x: auto;
            margin-right: 40px;
            max-height: 583px;
            overflow-y: auto;
            white-space: nowrap;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: auto;
            border-radius: 6px;
            border-spacing: 0px;  
        }

        table th, table td {
            padding: 10px;
            border: 2px solid #2c0000;
            text-align: left;
        }

        table th {
            font-weight: 600;
            color: #200000;
            text-align: center;
            position: sticky;
            top: 0;
            background: #ffffff;
            z-index: 2;  
            outline: 2px solid #2c0000; 
            outline-offset: -2px;
        }

/* Estilo del contenedor del popup embebido */
.popup-content-embedded {
    display: none; 
    position: absolute; 
    top: 30px; 
    left: -50px; 
    background: #fff; 
    padding: 10px; 
    border-radius: 6px; 
    width: 270px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    z-index: 3; 
    font-size: 14px;              
    line-height: 1.5; 
}

/* Flecha del popup */
.popup-content-embedded::after {
    content: '';
    position: absolute;
    top: -10px; 
    left: 50%; 
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent; 
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto; 
    padding: 20px;
    width: 70%; 
    border-radius: 4px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-section {
    display: none; /* Ocultar todas las secciones por defecto */
}

/* Estilo de la navegación */
#modal-navigation button {
    padding: 10px 20px;
    margin: 2px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#modal-navigation button:hover {
    background-color: #555;
}

/* Estilos específicos para los canvas */
#record-modal canvas#chart1 {
    display: block;  
    width: 520px !important;  
    height: 520px !important;  
}
#record-modal canvas#chart2 {
    display: block;  
    width: 450px !important;  
    height: 450px !important;  
    margin: 0 auto; 
}

.selected-row {
    background-color: #440000; 
    color: #ffffff;
    font-weight: bold;
}

#topInsectsRadarChart {
    width: 100% !important;   /* Ancho reducido con !important */
    height: auto !important;  /* Ancho máximo para adaptarse */
    display: block;            /* Asegurarse de que sea un bloque */
    margin: 0 auto;            /* Centrarse en el contenedor */
}

    /*Estilo del footer (general)*/

    footer {
        background-color: #474747;
        color: white;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        font-size: small;
        z-index: 3;
    }
